
.top-header__gap{
  height: 80px;
}

.font-kh-taprom{
  font-family: $font-taprom;
}

.font-kh-siemreap{
  font-family: $font-siemreap;
}

.font-kh-fasthand{
  font-family: $font-fasthand;
}

.font-kh-freehand{
  font-family: $font-freehand;
}

.font-kh-metal{
  font-family: $font-metal;
}

.font-en-opensans{
  font-family: $font-opensans;
}

.font-en-opensans-cond{
  font-family: $font-opensans-cond;
}

.slideshow-overlay__box{
  & > *{
    position: relative;
    display: block;
    float: left;
    width: auto;
  }
}

.breadcrum{
  position: relative;
  width: 100%;

  h3{
    display: inline-block;
    margin: 0;
    padding: 5px 7px;
    font-size: 1rem;
    font-weight: 700;
    vertical-align: middle;
    color: #333;

    &.yellow{
      background: $yellow;

    }

    &.plain{
      background: transparent;
    }
  }

  a{
    text-decoration: none;
    color: #333;

    &:hover{
      color: $post-grid-font-color;
    }
  }

  i{
    vertical-align: middle;
    font-size: 1.2rem;
  }
}

.fa-big{
  font-size: 1.5rem !important;
}

.padding-left-md{
  padding-left: 20px;
}

.margin-bottom-large{
  margin-bottom: 60px;
}

.custom-slider__cta{
  background: $yellow;
  color: #333;
  display: inline-block;
  padding: 10px 40px;
  font-size: 1.4rem;
  font-weight: 600;
  font-family: $font-opensans;
  text-transform: uppercase;
  @include prefixer(transition, all 0.25s ease, webkit moz ms o);

  &:hover{
    text-decoration: none;
    color: #222;
    background: darken($yellow, 5%);
  }
}

.bg-grey-transparent{
  background: rgba(0,0,0,0.4);
}

.slideshow-overlay__category{
  margin-bottom: 15px;
  position: relative;
  @include clearfix();

  h3{
    position: relative;
    display: inline-block;
    margin: 0;
    float: left;
    padding: 8px 12px;
    line-height: 1;
    color: #555 !important;
    font-weight: 800;
    background: $yellow;
    text-align: left;
  }
}

.section-heading{
  position: relative;
  width: 100%;
  @include clearfix();

  &.bottom-line{
    &:after{
      position: absolute;
      display: block;
      content: " ";
      height: 2px;
      width: 100%;
      background: darken($yellow, 1%);
    }
  }

  h3{
    display: inline-block;
    padding: 3px 7px;
    margin: 0;
    color: darken($yellow, 1%);
    font-size: 1.1rem;
    font-weight: 700;

    &.bg_black{
      background: rgba(#000,1);
    }

    &.bg_grey{
      background: rgba(#686868,0.9);
    }

    &.extra-pad{
      padding: 7px 15px;
    }
  }

  i{
    font-size: 2rem;
    vertical-align: middle;
  }
}

.section-heading-large{
  position: relative;
  width: 100%;
  padding-bottom: 20px;
  @include clearfix();

  h3{
    position: relative;
    display: inline-block;
    padding: 10px 0px;
    margin: 0;
    color: #000;
    font-size: 1.73rem;
    font-weight: 500;
    font-family: $font-taprom;

    &:after{
      position: absolute;
      display: block;
      content: " ";
      height: 3px;
      bottom: -5px;
      width: 70%;
      background: darken($yellow, 1%);
    }
  }
}

.section{
  position: relative;
  width: 100%;
  padding: 50px 0 20px 0;
}

.section-bg__white{
  background: #fff;
  box-shadow: 0 1px 2px rgba(0,0,0,0.1);
}

.section-bg__dark{
  background: #444;
}

.left { float:left; }
.right { float:right; }
.center { text-align:center; }

.responsive-nav__open{
  overflow: hidden;
}

#closeMenu{
  position: relative;
  float: right;
  width: 40px;
  height: 40px;
  padding: 0;
  cursor: pointer;
  z-index: 101;

  &:hover{
    span::before,
    span::after{
      background: rgba(255,255,255,0.8);
      @include prefixer(transform, scale(1.05, 1.05), webkit moz ms o);
    }
  }

  span{
    position: absolute;
    width: 25px;
    height: 25px;
    text-align: center;
    top: 50%;
    left: 50%;
    @include prefixer(transform, translate(-50%, -50%), webkit moz ms o);

    &:before,
    &:after{
      position: absolute;
      content: " ";
      display: block;
      height: 3px;
      width: 25px;
      background: rgba(255,255,255,0.4);
      top: 50%;
      border-radius: 1px;
      @include prefixer(transition, all 0.2s ease, webkit moz ms o);
    }

    &:before{
      @include prefixer(transform, rotate(45deg), webkit moz ms o);
    }

    &:after{
      @include prefixer(transform, rotate(-45deg), webkit moz ms o);
    }

  }
}

.font-yellow{
  color: $yellow !important;
}

.padding-left-sm{
  padding-left: 15px;
}

.padding-small{
  padding: 10px;
}

.padding-xs{
  padding: 5px;
}

.no-pad-right{
  padding-right: 0 !important;
}

.no-pad-left{
  padding-left: 0 !important;
}

.no-pad-bottom{
  padding-bottom: 0 !important;
}

.no-pad-top{
  padding-top: 0 !important;
}

.padding-bottom-md{
  padding-bottom: 40px;
}

.color-black{
  color: black !important;
}

/* Suggest video box */
.suggest-video{
  .video-box-feature{
    padding: 10px;
    margin: 0;
    @include display-flex();

    .feature-box-text{

      padding: 10px;
      margin: 0;
    }
  }
}

/* Video feature slickjs */
.video-feature{
  position: relative;
  width: 100%;
  padding: 10px 30px 20px;
  background: #fafaf9;
  @include clearfix();

  .heading{
    padding: 5px;

    h3{
      margin: 0;
      padding: 10px;
      display: inline-block;
      background: #fff;
      font-family: $font-opensans;
      font-size: 1.7rem;
      font-weight: 700;
    }
  }

  .slideset{
    margin-right: -30px;
    margin-left: -30px;
    padding: 0 30px;
    @include box-sizing(content-box);

    .slick-track,
    .slick-list{
      @include display-flex();
    }
  }
}

.feature-contents{
  float: left;
}

.feature-contents,
.feature-inner,
.features-slider,
.slideset,
.feature-mansory,
.mansory-container,
.feature-box-teaser,
.feature-box-text,
.feature-box-footer{
  position: relative;
  width: 100%;
  @include clearfix();
}

.feature-mansory{
  overflow: hidden;
}

.video-box-feature{
  float: left;
  position: relative;
  margin: 0 10px;

  .inner{
    background: #fff;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15), 0 1px 3px rgba(50, 200, 200, 0.08);
  }

  .mansory-container{
    display: block;

    &:hover,
    &:visited,
    &:focus{
      text-decoration: none;
      outline: none;
    }
  }

  .feature-box-teaser,
  .feature-box-text,
  .feature-box-footer{
    float: left;

    img{
      position: relative;
      display: block;
      vertical-align: bottom;
      height: auto;
      width: 100%;
    }

  }

  .feature-box-text{
    margin-top: 10px;
    padding: 0 10px 10px;

    h3{
      color: #2a2a2a;
      font-size: 17px;
      margin-bottom: 7px;
    }

    p{
      font-size: 15px;
      margin: 0;
      color: #2a2a2a;
    }
  }

  .feature-box-footer{
    padding-top: 10px;
  }
}

/* Slick slider scss */

.slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}
.slick-list {
    position: relative;
    overflow: hidden;
    display: block;
    padding: 0;
    margin: 0;

    &:focus {
        outline: none;
    }

    &.dragging {
        cursor: pointer;
        cursor: hand;
    }
}
.slick-slider .slick-track,
.slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.slick-track {
    position: relative;
    left: 0;
    top: 0;
    padding: 15px 0;
    display: block;

    &:before,
    &:after {
        content: "";
        display: table;
    }

    &:after {
        clear: both;
    }

    .slick-loading & {
        visibility: hidden;
    }
}
.slick-slide {
    float: left;
    min-height: 1px;
    [dir="rtl"] & {
        float: right;
    }
    img {
        display: block;
    }
    &.slick-loading img {
        display: none;
    }

    display: none;

    &.dragging img {
        pointer-events: none;
    }

    .slick-initialized & {
        display: block;
        @include display-flex();
    }

    .slick-loading & {
        visibility: hidden;
    }

    .slick-vertical & {
        display: block;
        height: auto;
        border: 1px solid transparent;
    }
}
.slick-arrow.slick-hidden {
    display: none;
}


/* Slide controller */
.slide-control{
  font-size: 28px;
    line-height: 1;
    font-weight: 100;
    position: absolute;
    top: 50%;
    display: block;
    padding: 0;
    -webkit-transform: translate(0,-50%);
    -ms-transform: translate(0,-50%);
    transform: translate(0,-50%);
    cursor: pointer;
    color: lighten(#2a2a2a,10%);
    border: 0;
    outline: 0;
    background: transparent;

    &.prev{
      height: 100%;
      width: 30px;
      left: 0;
      margin-top: 0;
      background: url(/images/common/back.png) no-repeat 0px 50%;

    }

    &.next{
      margin-top: 0;
      height: 100%;
      right: 0;
      width: 30px;
      background: url(/images/common/next.png) no-repeat 0px 50%;
    }
}

.fb-connect{
  position: relative;
  width: 100%;
  padding: 25px 0;

  .heading{
    font-size: 1.3rem;
    font-weight: 700;
    font-family: $font-siemreap;
    color: #9e9e9e;
    display: inline-block;

    .company_name{
      color: $yellow;
      font-family: $font-opensans;
    }
  }

  .facebook-like-share{
    display: inline-block;
  }
}

.facebook-comment{
  position: relative;
  width: 100%;

  .heading{
    font-size: 1.4rem;
    font-weight: 700;
    font-family: $font-siemreap;
    color: #454545;
  }
}
