$font-fasthand: 'Fasthand', serif;
$font-taprom: 'Taprom', cursive;
$font-metal: 'Metal', cursive;
$font-freehand: 'Freehand', cursive;
$font-siemreap: 'Siemreap', cursive;
$font-opensans: 'Open Sans', sans-serif;
$font-opensans-cond: 'Open Sans Condensed', sans-serif;


/* Logo size */
$logo-lg-height: 80px;
$logo-md-height: 60px;
$logo-sm-height: 50px;
$logo-lg-width: 113px;
$logo-md-width: 84px;
$logo-sm-width: 70px;

/* Color */
$yellow: #ffeb01;
$black: #000;
$post-grid-font-color: #6d6d6d;
